<% if (site.categories.length){ %>
    <h5><%= __('categories') %></h3>
    <div class="widget">
      <%- list_categories({show_count: config.category_show_count, depth: config.category_depth}) %>
    </div>
<% } %>